<doctype html>
<head>
    <title>Lucene Search Test</title>
</head>

<h2>Lucene Search Test</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>

    {{ render_field(form.search) }}
  </dl>
  <p><input type=submit value=Search>
</form>

{% if table %}
<title>Search Results - Lucene Database</title>
{{ table }}
{% endif %}